.menu {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #c69963;
  padding: 15px;
  // width: 75px;

  div {
    background-color: #fff;
    width: 30px;
    height: 3px;
    margin: 4px;
  }
}
